body{
    background: #DADADA;
    font-family: sans-serif;
    line-height: 1.4285em;
}

.container{
    max-width: 1000px;
    margin: auto;
    padding-top: 10%;
}

.right{
    width: 25%;
    padding: 15px;
    float: right;
}
.left{
    padding: 15px;
    width: 65%;
    float:left;
}



.column-height{
    height: 20%;
    /* border: 1px solid black; */
}

.column-background{
    background: white;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}

.input-text{
    width: 80%;
    height: 32px;
    padding-left: 6px;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right-color: transparent!important;
    font-size: 0.9em;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .24rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color .1s ease,border-color .1s ease;
}

.button{
    padding-top: .54em;
    padding-bottom: .54em;
    width: 16%;
    border-radius: 0 .24em .24em 0;
    border: 1px solid rgba(34,36,38,.15);
    font-size: 0.9em;
    margin: 0;
    background-color: #2185D0;
    color: #FFF;
    text-align: center;
    transition: opacity .1s ease,background-color .1s ease,box-shadow .1s ease,color .1s ease,background .1s ease;
}

.item{
    top: 0;
    bottom: 0;
    width:100%;
    border-radius: 0;
    margin-top: 1em;
    width: auto;
    box-shadow: none;
    border: none;
    border-top: 1px solid rgba(34,36,38,.15);
}

.title{
    font-size: 20px;
    color: black;

}

.first-column{
    display: inline-block;
    width: 25%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.second-column{
    width: 37.5%!important;
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
    text-align: center;
    padding-top: .5em!important;
    padding-bottom: 0!important;
}

.circular-button{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 50%;
    border:none;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
}

.red-button{ 
    background: #ff8181;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;

}

.green-button{
    background: #8cd460;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #4e8341;
}

.amount{
    display: inline-block;
    background:  #E8E8E8;
    font-weight: 700;
    padding: .5833em .833em;
    border-radius: .28571429rem;
    color: rgba(88, 83, 83, 0.842);
}

.third-column{
display: inline-block;
padding-left: 2.22rem;
padding-right: 1rem;
vertical-align: top;
text-align: right;
padding-top: .5em!important;
padding-bottom: 0!important;
}

.button-buy{
    border: none;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    margin: 0 .25em 0 0;
    padding: 1em 2em 1.15em;
    text-shadow: none;
    line-height: 1em;
    text-align: center;
    border-radius: .4em;
    font-weight: 700;
    /* background-color: rgb(10, 194, 102); */
     background-color: rgba(151, 158, 155, 0.376);
    color: rgba(0,0,0,.87);
}

.delete-button{
    background-color: #DB2828;
    color: #FFF;
    padding: 1.30em 1.15em 1.30em;
    font-size: .71428571rem;
    border:none;
    border-radius: .4em;
    line-height: 1em;
    text-align: center;
}

.right-title{
    top: 0;
    bottom: 0;
    width:100%;
    border-radius: 0;
    margin-top: 1em;
    width: auto;
    box-shadow: none;
    border: none;
}

h3{
    margin-top: 1em;
}

.second-title{
   border-top: 1px solid rgba(34,36,38,.15);
}

.empty{
    width: auto;
    height: auto;
    padding-top: 10px;
}

.product-item {
    background-color: #E8E8E8;
    display: inline-block;
    padding: 5px;
    margin-top: 0.4em;
    border-radius: 5px;
    margin-right: 0.6em;
}

.circular-amount{
    background-color: #F2711C!important;
    border-color: #F2711C!important;
    color: #FFF!important;
    display: inline-block;
    margin: auto;
    font-weight: 700;
    height: 10px;
    width:10px;
    padding: .4em!important;
    line-height: 0.7;
    text-align: center;
    border-radius: 250rem;
}